@media  (max-width: 1920px){
    #navbar{
        height: 100%;
        width: 170px;
        position: fixed;
        z-index: 1;
        top:0;
        left: 0;
        background-color: #111;
        padding-top: 20px;
        overflow-x: hidden ;
        color: white;


    }
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 1px;

}
li{
    height: 43px;
}
a:hover{
    background-color: #747474;
}
main{
    margin-left: 170px;
    padding: 0px 10px;
}